<div id="user_banner">
    <div class="pic">
        <a href="${ctxPath}/my_head.html">
            <img src="${ctxPath}/image/user_head_pic.jpg"/>
            <div>更换头像</div>
        </a>
    </div>
    <div class="con">
        <h2>Alpha</h2>
        <p>人生旅程，不同的是沿途风景以及看风景的心情</p>
    </div>
</div>
<!-----------------快捷导航---------------->
<div id="quick_nav">
    <a href="${ctxPath}/my_index.html"><span class="ico1"><img src="${ctxPath}/image/nav_ico1.png"/></span>个人主页</a>
    <a href="${ctxPath}/member/scenic_order.html"><span class="ico5"><img src="${ctxPath}/image/nav_ico5.png"/></span>旅游订单</a>
    <a href="${ctxPath}/note_comments.html"><span class="ico6"><img src="${ctxPath}/image/nav_ico6.png"/></span>我的评论</a>
</div>