<!-------------------工具栏------------------->
<!-------------------版头------------------->
<div id="toolbar">
    <div class="cw1200">
        <ul class="fl">
            <li class="tb"><p>您好，欢迎访问Zhiqi Travel Website！</p></li>
            <li class="tb"><a href="${ctxPath}/">登录</a><span>|</span></li>
            <li class="tb"><a href="${ctxPath}/register.html">注册</a></li>
        </ul>
        <!-------------------签到弹出层------------------->
        <ul class="fr">
            <li class="tb">
                <a href="#">${session.member.name!}</a>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport"
                          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                    <meta http-equiv="X-UA-Compatible" content="ie=edge">
                    <title>Document</title>
                </head>
                <body>

                </body>
                </html>
                </a>
                <!-------------------用户------------------->
                <div class="user">
                    <a class="user-hd" href="#">
                        <img src="${ctxPath}/image/user_head_pic.jpg"/><b></b>
                        <div class="clear"></div>
                    </a>
                    <div class="user-bd">
                        <ul class="nav_sort">
                            <li><a href="${ctxPath}/my_index.html"><i class="i1"></i>我的主页</a></li>
                            <li><a href="${ctxPath}/collection_list.html"><i class="i3"></i>我的收藏</a></li>
                            <li><a href="${ctxPath}/project_order.html"><i class="i4"></i>商品订单</a></li>
                            <li><a href="${ctxPath}/scenic_order.html"><i class="i5"></i>旅游订单</a></li>
                            <li><a href="${ctxPath}/note_comments.html"><i class="i6"></i>我的评论</a></li>
                            <li><a href="${ctxPath}/my_info.html"><i class="i7"></i>设置</a></li>
                            <li><a href="${ctxPath}/logout"><i class="i8"></i>退出</a></li>
                        </ul>
                    </div>
                </div>
                <span>|</span>
            </li>
            <li class="tb"><a href="${ctxPath}/shop_car.html"><i class="cart_ico"></i>购物车</a><span>|</span></li>
            <li class="tb"><a href="${ctxPath}/news_list.html">用户帮助中心</a><span>|</span></li>
            <li class="tb"><img src="${ctxPath}/image/tel_ico.gif"/><font>40000-40000</font></li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
<div id="header">
    <div class="cw1200">
        <!-------------------logo------------------->
        <div class="logo fl"><a title="" href="${ctxPath}/index"><img alt="" src="${ctxPath}/image/t_logo.jpg"></a>
        </div>
        <div class="search_nav fl">
            <!-------------------搜索------------------->
            <div class="search radius6">
                <form name="searchform" method="post" action="${ctxPath}/search">
                    <input name='ecmsfrom' type='hidden' value='9'>
                    <select name="type" id="choose">
                        <option>旅游</option>
                    </select>
                    <input class="inp_srh" name="keyboard" id="searchName" placeholder="请输入您要搜索的景区">
                    <input class="btn_srh" type="submit" value="搜索">
                </form>
            </div>
            <script type="text/javascript" src="${ctxPath}/js/jquery.select.js"></script>
            <!-------------------导航------------------->
            <div class="nav">
                <ul>
                    <li><a title=""  href="${ctxPath}/index">首页</a></li>
                    <li><a class="tta" title="" href="${ctxPath}/scenic/hotScenicList">洛阳旅游</a></li>
                    <li><a title="" href="${ctxPath}/mall_list.html">特产商城</a></li>
                    <li><a title="" href="${ctxPath}/note_list.html">美丽乡村</a></li>
                    <li><a title="" href="${ctxPath}/news_list.html">新闻资讯</a></li>
                    <li><a title="" href="https://github.com/ZhiqiKou/TravelWeb">项目地址</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">

</script>