<div class="user">
    <a class="user-hd" href="#">
        <img src="${ctxPath}/image/user_head_pic.jpg"/><b></b>
        <div class="clear"></div>
    </a>
    <div class="user-bd">
        <ul class="nav_sort">
            <li><a href="${ctxPath}/my_index.html"><i class="i1"></i>我的主页</a></li>
            <li><a href="${ctxPath}/collection_list.html"><i class="i3"></i>我的收藏</a></li>
            <li><a href="${ctxPath}/project_order.html"><i class="i4"></i>商品订单</a></li>
            <li><a href="${ctxPath}/scenic_order.html"><i class="i5"></i>旅游订单</a></li>
            <li><a href="${ctxPath}/note_comments.html"><i class="i6"></i>我的评论</a></li>
            <li><a href="${ctxPath}/my_info.html"><i class="i7"></i>设置</a></li>
            <li><a href="${ctxPath}/logout"><i class="i8"></i>退出</a></li>
        </ul>
    </div>
</div>