<div id="header">
    <div class="cw1000">
        <!-------------------logo------------------->
        <div class="logo"><a title="" href="index.html"><img alt="" src="${ctxPath}/image/logo.jpg" /></a></div>
        <!-------------------导航------------------->
        <div class="nav">
            <ul>
                <li><a title="" href="${ctxPath}/index">首页</a><span>|</span></li>
                <li><a title="" href="${ctxPath}/scenic/hotScenicList">南京旅游</a><span>|</span></li>
                <li><a title="" href="${ctxPath}/note_list.html">旅游攻略</a><span>|</span></li>
                <li><a title="" href="${ctxPath}/news_list.html">新闻资讯</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <!-------------------用户------------------->
        <div class="user">
            <a class="user-hd" href="#">
                <img src="${session.member.photo!}"/><b></b>
                <div class="clear"></div>
            </a>
            <div class="user-bd">
                <ul class="nav_sort">
                    <li><a href="${ctxPath}/my_index.html"><i class="i1"></i>我的主页</a></li>
                    <li><a href="${ctxPath}/scenic_order.html"><i class="i5"></i>旅游订单</a></li>
                    <li><a href="${ctxPath}/note_comments.html"><i class="i6"></i>我的评论</a></li>
                    <li><a href="${ctxPath}/my_info.html"><i class="i7"></i>设置</a></li>
                    <li><a href="${ctxPath}/logout"><i class="i8"></i>退出</a></li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>