<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>活动详情</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-------------jquery库-------------->
    <script type="text/javascript" src="${ctxPath}/js/jquery-2.1.1.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css">
</head>
<body>
<%layout("/include/top.html"){}%>
<!------------------子页框架-------------------->
<div id="sub_from" style="padding-top:10px;">
    <div class="cw1200">
        <!------------------公共盒子-------------------->
        <div class="public_box bg1">
            <div class="public_title">
                <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                <div class="con">
                    <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                    <div class="name"><img src="${ctxPath}/image/f_t_activity_enrolment.png"/></div>
                </div>
                <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                <div class="clear"></div>
            </div>
            <!------------------活动报名-------------------->
            <div id="activity_enrolment">
                <div class="pic"><img src="${activity.icon}"/></div>
                <div class="con">
                    <h2>${activity.name}</h2>
                    <ul>
                        <li><font>出发时间：${activity.time,dateFormat="yyyy-MM-dd"}</font></li>
                        <li>活动咨询：<span>${activity.phone}</span></li>
                        <li>活动费用：<label>￥${activity.ticket}</label></li>
                    </ul>
                    <div class="buy"><a href="submit_orders.html">立即报名</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="w810 fl">
            <!------------------公共盒子-------------------->
            <div class="public_box bg1">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_activity_introduce.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------特产详情-------------------->
                <div id="article">
                    <%for(item in activity.detailsList!){ %>
                    <p>${item}</p>
                    <%}%>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg1">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_comment2.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------评论-------------------->
                <div id="comment">
                    <div class="list">
                        <div class="tag">
                            <a class="cur" id="asc" onclick="A('${activity.id}')"
                               href="javascript:void (0)">最新评论</a><span>|</span><a id="desc"
                                                                                   onclick="B('${activity.id}')"
                                                                                   href="javascript:void (0)">正序排列</a>
                        </div>
                        <input type="hidden" value="${activity.id}" id="low"/>
                        <ul id="commentId">

                        </ul>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">

                            </ul>
                        </nav>
                        <form action="${ctxPath}/comment/addComment" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" name="activityId" value="${activity.id}"/>
                                    <label for="commentText" class="control-label">请输入你的评论:</label>
                                    <textarea class="form-control" name="comment" id="commentText"></textarea>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="suBtn">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="w380 fr">
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_other_activity.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------活动推荐-------------------->
                <div id="activity_recom">
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-----------------版底---------------->
<div id="footer">
    <div class="cw1200">
        <div class="line"><img src="${ctxPath}/image/b_line.png"/></div>
        <div class="b_logo"><img src="${ctxPath}/image/b_logo.png"/></div>
        <div class="con">
            <p>Zhiqi文化旅游发展有限公司 版权所有</p>
            <p>地址：河南省洛阳市Zhiqi文化游客接待中心　邮编：000000　电话：0000-00000000　业务电话：0000-0000000</p>
            <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-----------------产品主图特效---------------->
<script type="text/javascript">
 $.ajax({
        url: "${ctxPath}/activity/actList",
        type: "GET",
        success: function (res) {
            initUl(res);
        }
    })

 function initUl(res) {
        $.each(res, function () {
            $('  <li>\n' +
                '                            <div class="pic"><a title="" href="${ctxPath}/activity/activities.html?id=' + this.id + '"><img alt="" class="scale-effect"\n' +
                '                                                                       src="' + this.icon + '"/></a></div>\n' +
                '                            <div class="con">\n' +
                '                                <a href="${ctxPath}/activity/activities.html?id=' + this.id + '">' + this.name + '</a>\n' +
                '                                <span><i class="am-icon-clock-o"></i>' + this.time + '</span>\n' +
                '                            </div>\n' +
                '                            <div class="clear"></div>\n' +
                '                        </li>').appendTo('#activity_recom');
        })
 }

 var oneId = $("#low").val();
 $(function () {

     A(oneId)
 })

 function A(id) {
     $.ajax({
         type: "GET",
         url: "${ctxPath}/activity/activityCommentDesc",
         data: {

             "id": id
         },
         success: function (res) {
             initComment(res.list)
             initPage(res)
             $("#asc").addClass("cur");
             $("#desc").removeClass("cur");
         }
     })
 }

 function initComment(res) {
     $("#commentId").empty();
     $.each(res, function () {
         $('<li>\n' +
             '                                <div class="pic"><img src="' + this.phone + '"/></div>\n' +
             '                                <div class="con">\n' +
             '                                    <label>' + this.memberName + '</label>\n' +
             '                                    <p>' + this.comment + '</p>\n' +
             '                                    <span>发表于：' + this.commentTime + '</span>\n' +
             '                                </div>\n' +
             '                                <div class="tip"><span class="t_a t_box">沙发</span></div>\n' +
             '                            </li>').appendTo("#commentId")
     })
 }

 function B(id) {
     $.ajax({
         type: "GET",
         url: "${ctxPath}/activity/activityCommentDesc",
         data: {
             "id": id,
             "pid": "2"
         },
         success: function (res) {
             initComment(res.list)
             $("#desc").addClass("cur");
             $("#asc").removeClass("cur");
         }
     });
 }

 function initPage(info) {
     $('.pagination').empty();
     if (info.isFirstPage) {
         $('<li class="disabled"><a href="javascript:void(0)">上一页</a></li>').appendTo(".pagination")
     } else {
         $('<li><a class="navA" href="javascript:void(0)" pageNum="' + (info.pageNum - 1) + '" >上一页</a></li>').appendTo(".pagination")
     }
     $.each(info.navigatepageNums, function () {
         if (this == info.pageNum) {
             $('<li class="active"><a  href="javascript:void(0)"><span id="currentPage">' + this + '</span> <span class="sr-only">(current)</span></a></li>').appendTo(".pagination")
         } else {
             $(' <li><a class="navA" pageNum="' + this + '" href="javascript:void(0)">' + this + '</a></li>').appendTo(".pagination")
         }
     })
     if (info.isLastPage) {
         $('<li class="disabled"><a href="javascript:void(0)">下一页</a></li>').appendTo(".pagination")
     } else {
         $('<li><a class="navA" href="javascript:void(0)" pageNum="' + (info.pageNum + 1) + '">下一页</a></li>').appendTo(".pagination")
     }
     //这里也可以使用动态委派事件，但是效率低
     $(".navA").click(function () {
         var pn = $(this).attr("pageNum");
         $.ajax({
             type: "GET",
             url: "${ctxPath}/activity/activityCommentDesc",
             data: {

                 "id": oneId,
                 "pn": pn
             },
             success: function (res) {
                 initComment(res.list)
                 initPage(res)
             }
         })
     })

 }

</script>
</body>
</html>