<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>活动列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-------------jquery库-------------->
  	<script type="text/javascript" src="${ctxPath}/js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css">
</head>
<body>
<!-------------------工具栏------------------->
<%layout("/include/top.html"){}%>
<!------------------子页框架-------------------->
<div id="sub_from">
    <div class="cw1200">
		<div class="w810 fl">
			<!------------------公共盒子-------------------->
			<div class="public_box bg1">
				<div class="public_title">
					<div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
						<div class="name"><img src="${ctxPath}/image/f_t_news_list.png"/></div>
					</div>
					<div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------列表分类-------------------->
				<div id="list_sort">
					<span>产品类型：</span>
					<div class="list_1">
						<a  href="${ctxPath}/scenic/hotScenicList">旅游景区</a>
						<a class="cur" href="activities_list.html">旅游活动</a>
						<div class="clear"></div>
					</div>
				</div>
				<!------------------活动列表-------------------->
				<div id="activities_list">
					<ul>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
						<li>
							<div class="pic"><a href="activities.html"><img class="scale-effect" src="${ctxPath}/image/y1.jpg"/></a></div>
							<div class="con">
								<h3><a href="activities.html">龙门石窟白马寺一日游 包车包中午餐</a></h3>
								<span>出发时间：<i class="am-icon-clock-o"></i>2017/01/20<label>参团人数：15/30</label></span>
								<p>首先要去的就是芙蓉楼，据说此处是唐朝诗人王昌龄游玩会客之所。在清朝时期</p>
							</div>
							<div class="price">
								<label>￥330</label>
								<a href="#">查看详情</a>
							</div>
							<div class="clear"></div>
						</li>
					
					</ul>
				</div>
			</div>
		</div>
		<div class="w380 fr">
			<!------------------公共盒子-------------------->
			<div class="public_box bg2">
				<div class="public_title">
					<div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
						<div class="name"><img src="${ctxPath}/image/f_t_mobile_platform.png"/></div>
					</div>
					<div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------移动平台-------------------->
				<div id="mobile_platform">
					<img src="${ctxPath}/image/mp_pic.jpg"/>
					<img src="${ctxPath}/image/mp_tag.png"/>
					<img src="${ctxPath}/image/rwm.jpg"/>
					<p>微信订票/查询优惠政策请扫二维码</p>
				</div>
			</div>
			<!------------------公共盒子-------------------->
			<div class="public_box bg2">
				<div class="public_title">
					<div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
						<div class="name"><img src="${ctxPath}/image/f_t_culture.png"/></div>
						<div class="more"><a href="#">更多>></a></div>
					</div>
					<div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------公共推荐-------------------->
				<div id="public_recom">
					<ul>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<!------------------公共盒子-------------------->
			<div class="public_box bg2">
				<div class="public_title">
					<div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
						<div class="name"><img src="${ctxPath}/image/f_t_project.png"/></div>
						<div class="more"><a href="#">更多>></a></div>
					</div>
					<div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------公共推荐-------------------->
				<div id="public_recom">
					<ul>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<!------------------公共盒子-------------------->
			<div class="public_box bg2">
				<div class="public_title">
					<div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
						<div class="name"><img src="${ctxPath}/image/f_t_food.png"/></div>
						<div class="more"><a href="#">更多>></a></div>
					</div>
					<div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------公共推荐-------------------->
				<div id="public_recom">
					<ul>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
			<!------------------公共盒子-------------------->
			<div class="public_box bg2">
				<div class="public_title">
					<div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
					<div class="con">
						<div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
						<div class="name"><img src="${ctxPath}/image/f_t_life.png"/></div>
						<div class="more"><a href="#">更多>></a></div>
					</div>
					<div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
					<div class="clear"></div>
				</div>
				<!------------------公共推荐-------------------->
				<div id="public_recom">
					<ul>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/2016122223895.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="pic"><img class="scale-effect" src="${ctxPath}/image/t2.jpg"/></div>
								<p>洛阳古城慢时</p>
							</a>
						</li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
		</div>
		<div class="clear"></div>
    </div>
</div>

<!-----------------版底---------------->
<div id="footer">
    <div class="cw1200">
        <div class="line"><img src="${ctxPath}/image/b_line.png"/></div>
        <div class="b_logo"><img src="${ctxPath}/image/b_logo.png"/></div>
        <div class="con">
            <p>Zhiqi文化旅游发展有限公司 版权所有</p>
            <p>地址：河南省洛阳市Zhiqi文化游客接待中心　邮编：000000　电话：0000-00000000　业务电话：0000-0000000</p>
            <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>