<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>文章</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-------------jquery库-------------->
    <script type="text/javascript" src="${ctxPath}/js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css">
</head>
<body>
<!-------------------工具栏------------------->
<%layout("/include/top.html"){}%>


<!------------------子页框架-------------------->
<div id="sub_from">
    <div class="cw1200">
        <div class="w810 fl">
            <!------------------公共盒子-------------------->
            <div class="public_box bg1">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_article.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------文章-------------------->
                <div id="article">
                    <div class="title">
                        <h2>${news.title}</h2>
                        <p>发布时间：${news.time} 阅读 ${times} 次</p>
                        <div class="bdsharebuttonbox">
                            <a href="#" class="bds_more" data-cmd="more"></a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        </div>
                        <script>window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {},
                                "bdText": "",
                                "bdMini": "2",
                                "bdMiniList": false,
                                "bdPic": "",
                                "bdStyle": "1",
                                "bdSize": "16"
                            },
                            "share": {},
                            "image": {
                                "viewList": ["qzone", "tsina", "tqq", "renren", "weixin"],
                                "viewText": "分享到：",
                                "viewSize": "16"
                            },
                            "selectShare": {
                                "bdContainerClass": null,
                                "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]
                            }
                        };
                        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                    </div>
                    <div class="con">
                        <%for(item in news.detailsList!){%>
                        <%if(itemLP.index==1){%>
                        <P>${item}</P>
                        <%}%>
                        <%}%>
                        <%for(item in news.imgList!){%>
                        <%if(itemLP.index==1){%>
                        <img src="${item}" alt=""/>
                        <%}%>
                        <%}%>
                        <%for(item in news.detailsList!){%>
                        <%if(itemLP.index==2){%>
                        <P>${item}</P>
                        <%}%>
                        <%}%>
                        <%for(item in news.imgList!){%>
                        <%if(itemLP.index==2){%>
                        <img src="${item}" alt=""/>
                        <%}%>
                        <%}%>
                        <%for(item in news.detailsList!){%>
                        <%if(itemLP.index==3){%>
                        <P>${item}</P>
                        <%}%>
                        <%}%>
                        <%for(item in news.imgList!){%>
                        <%if(itemLP.index==3){%>
                        <img src="${item}" alt=""/>
                        <%}%>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
        <div class="w380 fr">
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_mobile_platform.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------移动平台-------------------->
                <div id="mobile_platform">
                    <img src="${ctxPath}/image/mp_pic.jpg"/>
                    <img src="${ctxPath}/image/mp_tag.png"/>
                    <img src="${ctxPath}/image/rwm.jpg"/>
                    <p>微信订票/查询优惠政策请扫二维码</p>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_culture.png"/></div>
                        <div class="more"><a href="news_list.html">更多>></a></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------公共推荐-------------------->
                <div id="public_recom">
                    <ul>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_project.png"/></div>
                        <div class="more"><a href="mall_list.html">更多>></a></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------公共推荐-------------------->
                <div id="public_recom">
                    <ul>
                        <li>
                            <a href="project.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="project.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="project.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_food.png"/></div>
                        <div class="more"><a href="news_list.html">更多>></a></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------公共推荐-------------------->
                <div id="public_recom">
                    <ul>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_life.png"/></div>
                        <div class="more"><a href="news_list.html">更多>></a></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------公共推荐-------------------->
                <div id="public_recom">
                    <ul>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <li>
                            <a href="article.html">
                                <div class="pic"><img src="${ctxPath}/image/2016122223895.jpg"/></div>
                                <p>洛阳古城慢时</p>
                            </a>
                        </li>
                        <div class="clear"></div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-----------------版底---------------->
<div id="footer">
    <div class="cw1200">
        <div class="line"><img src="${ctxPath}/image/b_line.png"/></div>
        <div class="b_logo"><img src="${ctxPath}/image/b_logo.png"/></div>
        <div class="con">
            <p>Zhiqi文化旅游发展有限公司 版权所有</p>
            <p>地址：河南省洛阳市Zhiqi文化游客接待中心　邮编：000000　电话：0000-00000000　业务电话：0000-0000000</p>
            <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>