<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"

      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

    <title>Hello World!</title>

</head>

<body>
<div style="text-align: center;margin-top: 50px">
    餐厅单个文件上传
    <form action="${ctxPath}/restaurant" method="post" enctype="multipart/form-data">
        <p><input type="file" name="name"/></p>
        <p><input type="submit" value="上传视频"/></p>
    </form>
    =========================
    餐厅多个文件上传
    <form method="post" action="${ctxPath}/restaurantMore" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="submit" value="提交">
    </form>


    =============================================================
    <form action="${ctxPath}/scenicFile" method="post" enctype="multipart/form-data">
        <p><input type="file" name="name"/></p>
        <p><input type="submit" value="上传视频"/></p>
    </form>
    =============================================================
    <form action="${ctxPath}/scenicMore" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="submit" value="提交">
    </form>
    =======================================================
    <form action="${ctxPath}/memberFile" method="post" enctype="multipart/form-data">
        <p><input type="file" name="name"/></p>
        <p><input type="submit" value="上传视频"/></p>
    </form>
    ==========================================================

    news单个文件上传
    <form action="${ctxPath}/newsFile" method="post" enctype="multipart/form-data">
        <p><input type="file" name="name"/></p>
        <p><input type="submit" value="上传视频"/></p>
    </form>
    ==========================================================
    news多个文件上传：
    <form action="${ctxPath}/newsList" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="submit" value="提交">
    </form>
    ==========================================================
    hotel单个文件上传
    <form action="${ctxPath}/hotelFile" method="post" enctype="multipart/form-data">
        <p><input type="file" name="name"/></p>
        <p><input type="submit" value="上传视频"/></p>
    </form>
    ==========================================================
    hotel多个文件上传：
    <form action="${ctxPath}/hotelList" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="file" name="file"><br>
        <input type="submit" value="提交">
    </form>

</div>
</body>
</html>
