<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-------------jquery库-------------->
    <script type="text/javascript" src="${ctxPath}/js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css">
</head>
<body>
<%layout("/include/top.html"){}%>
<!------------------banner-------------------->
<script src="${ctxPath}/js/jquery.superslide.2.1.1.js" type="text/javascript"></script>
<div class="h_banner">
    <ul class="h_b_list">
        <%for(item in scenics!){%>
        <%if(itemLP.index<5){%>
        <li><a style="background:url(${item.icon}) no-repeat center;"
               href="${ctxPath}/scenic/scenicDetails?id=${item.id}"></a></li>
        <%}%>
        <%}%>
    </ul>
    <a class="prev" href="javascript:void(0)"><==</a>
    <a class="next" href="javascript:void(0)">==></a>
</div>
<script>
    /*鼠标移过，左右按钮显示*/
    $(".h_banner").hover(function () {
        $(this).find(".prev,.next").fadeTo("show", 0.5);
    }, function () {
        $(this).find(".prev,.next").hide();
    })
    /*鼠标移过某个按钮 高亮显示*/
    $(".prev,.next").hover(function () {
        $(this).fadeTo("show", 1);
    }, function () {
        $(this).fadeTo("show", 0.7);
    })
    $(".h_banner").slide({
        titCell: ".num ul",
        mainCell: ".h_b_list",
        effect: "fold",
        autoPlay: true,
        delayTime: 700,
        autoPage: true
    });
</script>


<!------------------南京旅游-------------------->
<div id="h_scenic">
    <div class="cw1200">
        <div class="title"><img alt="" src="${ctxPath}/image/h_title2.png"/></div>
        <div class="con">
            <div class="tag"><img alt="" src="${ctxPath}/image/h_title2_t.jpg"/></div>
            <div class="box">
                <ul>
                    <%for(item in scenics2!){%>
                    <li><a title="" href="${ctxPath}/scenic/scenicDetails?id=${item.id}"><img alt=""
                                                                                              class="scale-effect"
                                                                                              src="${item.icon}"/><span>${item.name}</span></a>
                    </li>
                    <%}%>
                    <div class="clear"></div>
                </ul>
                <div class="more"><a href="${ctxPath}/scenic/hotScenicList">热门景区<span>+</span></a></div>
            </div>
            <div class="box">
                <ul>
                    <%for(item in scenics1!){%>
                    <li><a title="" href="${ctxPath}/scenic/scenicDetails?id=${item.id}"><img alt="" class="scale-effect" src="${item.icon}"/><span>${item.name}</span></a>
                    </li>
                    <%}%>
                    <div class="clear"></div>
                </ul>
                <div class="more"><a title="" href="${ctxPath}/scenic/hotScenicList">休闲度假<span>+</span></a></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!------------------南京美食-------------------->



<!------------------首页新闻-------------------->
<div id="h_news">
    <div class="cw1200">
        <div class="activity_news fl">
            <div class="title"><img alt="" src="${ctxPath}/image/h_title6.png"/></div>
            <div class="con">
                <ul>
                  <%for(item in activityList!){%>
                    <%if(itemLP.index<5){%>
                    <li><a title="" href="javascript:void (0)"><img class="scale-effect" src="${item.icon}"/>
                        <p>${item.info}</p></a></li>
                    <%}%>
                    <%}%>
                </ul>
            </div>
        </div>
        <div class="hot_news fr">
            <div class="title"><img src="${ctxPath}/image/h_title7.png"/></div>
            <div class="con">

                <div data-am-widget="slider" class="pic am-slider am-slider-c4" data-am-slider='{"controlNav":false}'>
                    <ul class="am-slides">
                       <%for(item in newsList!){%>
                        <%if(itemLP.index<3){%>
                        <li>
                            <a href="${ctxPath}/news/newsDetails?id=${item.id}">
                                <img alt="${item.title}" src="${item.icon}"/>
                                <div class="am-slider-desc">${item.title}</div>
                            </a>
                        </li>
                        <%}%>
                        <%}%>
                    </ul>
                </div>

                <div class="list">
                    <ul id="newsId">
                        <%for(item in newsList!){%>
                        <%if(itemLP.index<10){%>
                        <li><a title="${item.title}" href="${ctxPath}/news/newsDetails?id=${item.id}">${item.title}</a><span>${item.time}</span></li>
                        <%}%>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>


<!-----------------版底---------------->
<div id="footer">
    <div class="cw1200">
        <div class="line"><img alt="" src="${ctxPath}/image/b_line.png"/></div>
        <div class="b_logo"><img alt="" src="${ctxPath}/image/b_logo.png"/></div>
        <div class="con">
            <p>Zhiqi文化旅游发展有限公司 版权所有</p>
            <p>地址：河南省洛阳市Zhiqi文化游客接待中心　邮编：000000　电话：0000-00000000　业务电话：0000-00000000</p>
            <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
  /*  $.ajax({
        type: "GET",
        url: "${ctxPath}/news/getNewsList",
        success: function (res) {

        }
    })

    function initNews(res) {
        $("#newsId").empty();
        $.each(res, function (index, item) {

        })
    }*/
</script>
</body>
</html>