<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>新闻列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-------------jquery库-------------->
    <script type="text/javascript" src="${ctxPath}/js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css">
</head>
<body>
<!-------------------工具栏------------------->
<%layout("/include/top.html"){}%>
<!------------------子页框架-------------------->
<div id="sub_from">
    <div class="cw1200">
        <div class="w810 fl">
            <!------------------公共盒子-------------------->
            <div class="public_box bg1">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_news_list.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------列表分类-------------------->

                <div id="list_sort">
                    <span>新闻类别：</span>
                    <div class="list_1">
                        <a class="cur" href="javascript:void(0)" onclick="getNewsList()">全部</a>
                        <%for(item in typeList!){%>
                        <a class="cur"  onclick="A(${item.id})"
                           href="javascript:void(0)">${item.type}</a>
                        <%}%>
                        <div class="clear"></div>
                    </div>
                </div>
                <!------------------新闻列表-------------------->
                <div id="news_list">
                    <ul id="newsId">

                    </ul>
                </div>
            </div>
        </div>
        <%layout("/include/side.html"){}%>
        <div class="clear"></div>
    </div>
</div>

<!-----------------版底---------------->
<div id="footer">
    <div class="cw1200">
        <div class="line"><img src="${ctxPath}/image/b_line.png"/></div>
        <div class="b_logo"><img src="${ctxPath}/image/b_logo.png"/></div>
        <div class="con">
            <p>Zhiqi文化旅游发展有限公司 版权所有</p>
            <p>地址：河南省洛阳市Zhiqi文化游客接待中心　邮编：000000　电话：0000-00000000　业务电话：0000-0000000</p>
            <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script>
    getNewsList();
    getNewsTypeList();

    function A(id) {

        $.ajax({
            url: "${ctxPath}/news/getNewsListByTypeId",
            type: "GET",
            data: {
                "id": id
            },
            success: function (res) {
                $("#newsId").empty();
                $.each(res, function (index, item) {
                    $('<li>\n' +
                        '<div class="date"><p>' + (index + 1) + '</p><span>' + item.time + '</span></div>\n' +
                        '<div class="pic"><a href="${ctxPath}/news/newsDetails?id=' + item.id + '"><img class="scale-effect" src="' + item.icon + '"/></a></div>\n' +
                        '<div class="con">\n' +
                        '<h3><a href="${ctxPath}/news/newsDetails?id=' + item.id + '">' + item.title + '</a></h3><p>' + item.simple + '<a href="${ctxPath}/news/newsDetails?id=' + item.id + '">详细信息</a></p>\n' +
                        '</div>\n' +
                        '<div class="clear"></div>\n' +
                        '</li>').appendTo("#newsId")
                })
            }
        })
    }


    function getNewsList() {
        $.ajax({
            url: "${ctxPath}/news/getNewsList",
            type: "GET",
            success: function (res) {
                initNewsTable(res);
            }
        });
    }

    function getNewsTypeList() {
        $.ajax({
            url: "${ctxPath}/news/getNewsTypeList",
            type: "GET",
            success: function (res) {

            }
        });
    }

    function initNewsTable(res) {
        $("#newsId").empty();
        $.each(res, function (index, item) {
            $('<li>\n' +
                '<div class="date"><p>' + (index + 1) + '</p><span>' + item.time + '</span></div>\n' +
                '<div class="pic"><a href="${ctxPath}/news/newsDetails?id=' + item.id + '"><img class="scale-effect" src="' + item.icon + '"/></a></div>\n' +
                '<div class="con">\n' +
                '<h3><a href="${ctxPath}/news/newsDetails?id=' + item.id + '">' + item.title + '</a></h3><p>' + item.simple + '<a href="${ctxPath}/news/newsDetails?id=' + item.id + '">详细信息</a></p>\n' +
                '</div>\n' +
                '<div class="clear"></div>\n' +
                '</li>').appendTo("#newsId")
        })
    }

</script>
</body>
</html>