<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>景区订单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-------------jquery库-------------->
    <script type="text/javascript" src="${ctxPath}/js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>

    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/user.css">
</head>
<body>

<!-------------------版头------------------->
<%layout("/include/user_top.html"){}%>
<!-----------------用户banner---------------->
<%layout("/include/quick.html"){}%>
<!-----------------框架---------------->
<div class="cw1000">
    <div class="public_box pd10">
        <div class="list_title">
            <h2>旅游订单</h2>
        </div>
        <div class="public_tag">
            <ul>
                <li><a class="cur" href="#">全部订单</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <!-----------------景区订单---------------->
        <div class="order_list">
            <div class="column_title">
                <ul>
                    <li style="width:35%;">订单信息</li>
                    <li style="width:10%;">数量</li>
                    <li style="width:10%;">单价</li>
                    <li style="width:10%;">总价</li>
                    <li style="width:20%;">订单状态</li>
                    <li style="width:15%;">操作</li>
                </ul>
            </div>
            <div class="list_con">
                <ul>
                    <%for(item in info.list!){%>
                    <li>
                        <div class="serial">订单编号：${item.pay}<a href="${ctxPath}/scenicApply/deleteApply/${item.id}"><i
                                class="del"></i>删除</a></div>
                        <div class="cont">
                            <div class="con">
                                <div class="info" style="width:35%;">
                                    <div class="pic"><a href="#"><img width=53 height=53 src="${item.img}"/></a>
                                    </div>
                                    <div class="name">
                                        <a href="#">${item.orderName}门票</a>
                                        <p>下单日期：${item.orderTime,dateFormat="yyyy-MM-dd"}</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="number" style="width:10%;">x${item.num}</div>
                                <div class="price" style="width:10%;">￥${item.money}</div>
                                <div class="m_price" style="width:10%;">
                                    <div class="middle">￥${item.allMoney}</div>
                                </div>
                                <div class="state" style="width:20%;">
                                    <div class="middle">
                                        <p>${item.status==0?"已付款":"未付款"}</p>
                                        <a href="order_details.html">订单详情</a>
                                    </div>
                                </div>
                                <div class="operation" style="width:15%;">
                                    <div class="middle">
                                        <a class="evaluation" href="post_comment.html">评价</a>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                    <%}%>
                    <ul class="pagination">
                        <%if(info.isIsFirstPage!){%>
                        <li class="disabled"><a href="javascript:void(0)" aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                        <%}%>
                        <%else{%>
                        <li><a href="${ctxPath}/member/scenic_order.html?pn=${info.pageNum-1}"
                               aria-label="Previous"><span
                                aria-hidden="true">&laquo;</span></a></li>
                        <%}%>
                        <%for(item in info.navigatepageNums!){%>
                        <%if(item==info.pageNum){%>
                        <li class="active"><a href="javascript:void (0)">${item}<span
                                class="sr-only">(current)</span></a></li>
                        <%}%>
                        <%else if(item!=info.pageNum){%>
                        <li><a href="${ctxPath}/member/scenic_order.html?pn=${item}">${item}</a>
                        </li>
                        <%}%>
                        <%}%>
                        <%if(info.isIsLastPage!){%>
                        <li class="disabled"><a href="javascript:void(0)" aria-label="Previous"><span
                                aria-hidden="true">&raquo;</span></a></li>
                        <%}%>
                        <%else{%>
                        <li><a href="${ctxPath}/member/scenic_order.html?pn=${info.pageNum+1}"
                               aria-label="Previous"><span
                                aria-hidden="true">&raquo;</span></a></li>
                        <%}%>
                    </ul>
                </ul>
            </div>
        </div>


    </div>
    <div class="clear"></div>
</div>
<!-----------------版底---------------->
<div id="footer">
    <p>Zhiqi文化旅游发展有限公司 版权所有</p>
    <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
</div>
</body>
</html>