<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>景区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-------------jquery库-------------->
    <script type="text/javascript" src="${ctxPath}/js/jquery-2.1.1.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/style.css">
</head>
<body>
<!-------------------工具栏------------------->
<%layout("/include/top.html"){}%>
<!------------------景区版头-------------------->
<div id="scenic_head" style="background:url(${scenic.icon}) no-repeat center;background-size:100%;">
    <div class="cw1200">
        <div class="title"><p style="color: #0a6999">${scenic.name}</p></div>
        <a href="#" class="view_gallery" id="botn">景区图库<i class="am-icon-chevron-circle-right"></i></a>
        <ul style="display:none;" data-am-widget="gallery"
            class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default"
            data-am-gallery="{ pureview: true }">
            <%for(item in scenic.imgList!){%>
            <li>
                <div class="am-gallery-item">
                    <a href="${ctxPath}/image/banner3.jpg" class="">
                        <img src="${item}" alt="${scenic.name}"/>
                        <h3 class="am-gallery-title">终会走过这条遥远的道路</h3>
                        <div class="am-gallery-desc">2375-09-26</div>
                    </a>
                </div>
            </li>
            <%}%>
        </ul>
        <script>
            $("#botn").on("click", function () {
                $(".am-gallery-item img").click();
            });

            $(document).ready(function () {
                $(".am-icon-chevron-left").attr("class", "am-icon-close");
            });
        </script>
    </div>
</div>
<!------------------子页框架-------------------->
<div id="sub_from">
    <div class="cw1200">
        <div class="w810 fl">
            <!------------------公共盒子-------------------->
            <div class="public_box bg1">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_article.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------景区介绍-------------------->
                <div id="article">
                    <div class="con">
                        ${scenic.info}
                    </div>
                    <div class="map">
                        <img style="max-width:100%;" src="${ctxPath}/image/map.jpg"/>
                    </div>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg1">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_comment.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------评论-------------------->
                <div id="comment">

                    <div class="list">
                        <div class="tag">
                            <a class="cur" id="asc" onclick="A('${scenic.id}')"
                               href="javascript:void (0)">最新评论</a><span>|</span><a id="desc" onclick="B('${scenic.id}')"
                                                                                   href="javascript:void (0)">正序排列</a>
                        </div>
                        <input type="hidden" value="${scenic.id}" id="low"/>
                        <ul id="commentId">
                        </ul>
                        <nav aria-label="Page navigation">
                            <ul class="pagination">

                            </ul>
                        </nav>
                        <form action="${ctxPath}/comment/addComment" method="post">
                            <div class="modal-body">
                                <div class="form-group">
                                    <input type="hidden" name="scenicId" value="${scenic.id}"/>
                                    <label for="commentText" class="control-label">请输入你的评论:</label>
                                    <textarea class="form-control" name="comment" id="commentText"></textarea>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" id="suBtn">提交</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div class="w380 fr">
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_online_book.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------在线预订-------------------->
                <div id="online_book">
                    <ul>
                        <li>景区名称：<span>${scenic.name}</span></li>
                        <li>电话咨询：<span>${scenic.contact}</span></li>
                        <li>开放时间：<span>${scenic.openTime}</span></li>
                        <li>详细地址：<span>${scenic.area}</span></li>
                        <li>费用：<label>￥${scenic.ticket}</label></li>
                    </ul>
                    <a class="buy" href="${ctxPath}/scenic/submit_orders.html?id=${scenic.id}">立即预订</a>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_surrounding_specialty.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------周边推荐-------------------->
                <div class="peripheral_recom">
                    <ul>
                        附近餐厅
                        <%for(item in restaurantList!){%>
                        <li>
                            <div class="pic"><a title="" href="#"><img alt="" class="scale-effect"
                                                                       src="${item.icon}"/></a></div>
                            <div class="con">
                                <a href="#">${item.name}</a>
                                <p>${item.specialty}</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </div>
            <!------------------公共盒子-------------------->
            <div class="public_box bg2">
                <div class="public_title">
                    <div class="fl"><img src="${ctxPath}/image/from_title_left.png"/></div>
                    <div class="con">
                        <div class="lamp_ico"><img src="${ctxPath}/image/lamp_ico.png"/></div>
                        <div class="name"><img src="${ctxPath}/image/f_t_surrounding_hotel.png"/></div>
                    </div>
                    <div class="fr"><img src="${ctxPath}/image/from_title_right.png"/></div>
                    <div class="clear"></div>
                </div>
                <!------------------周边推荐-------------------->
                <div class="peripheral_recom">
                    <ul>
                        附近民宿
                        <%for(item in hotelList!){%>
                        <li>
                            <div class="pic"><a title="" href="#"><img alt="" class="scale-effect"
                                                                       src="${item.icon}"/></a></div>
                            <div class="con">
                                <a href="#">${item.name}</a>
                                <p>${item.details}</p>
                            </div>
                            <div class="clear"></div>
                        </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-----------------版底---------------->
<div id="footer">
    <div class="cw1200">
        <div class="line"><img src="${ctxPath}/image/b_line.png"/></div>
        <div class="b_logo"><img src="${ctxPath}/image/b_logo.png"/></div>
        <div class="con">
            <p>Zhiqi文化旅游发展有限公司 版权所有</p>
            <p>地址：河南省洛阳市Zhiqi文化游客接待中心　邮编：000000　电话：0000-00000000　业务电话：0000-0000000</p>
            <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript">
    var oneId = $("#low").val();
    $(function () {

        A(oneId)
    })

    function A(id) {
        $.ajax({
            type: "GET",
            url: "${ctxPath}/scenic/scenicCommentDesc",
            data: {

                "id": id
            },
            success: function (res) {
                initComment(res.list)
                initPage(res)
                $("#asc").addClass("cur");
                $("#desc").removeClass("cur");
            }
        })
    }

    function initComment(res) {
        $("#commentId").empty();
        $.each(res, function () {
            $('<li>\n' +
                '                                <div class="pic"><img src="' + this.phone + '"/></div>\n' +
                '                                <div class="con">\n' +
                '                                    <label>' + this.memberName + '</label>\n' +
                '                                    <p>' + this.comment + '</p>\n' +
                '                                    <span>发表于：' + this.commentTime + '</span>\n' +
                '                                </div>\n' +
                '                                <div class="tip"><span class="t_a t_box">沙发</span></div>\n' +
                '                            </li>').appendTo("#commentId")
        })
    }

    function B(id) {
        $.ajax({
            type: "GET",
            url: "${ctxPath}/scenic/scenicCommentDesc",
            data: {
                "id": id,
                "pid": "2"
            },
            success: function (res) {
                initComment(res.list)
                $("#desc").addClass("cur");
                $("#asc").removeClass("cur");
            }
        });
    }

    function initPage(info) {
        $('.pagination').empty();
        if (info.isFirstPage) {
            $('<li class="disabled"><a href="javascript:void(0)">上一页</a></li>').appendTo(".pagination")
        } else {
            $('<li><a class="navA" href="javascript:void(0)" pageNum="' + (info.pageNum - 1) + '" >上一页</a></li>').appendTo(".pagination")
        }
        $.each(info.navigatepageNums, function () {
            if (this == info.pageNum) {
                $('<li class="active"><a  href="javascript:void(0)"><span id="currentPage">' + this + '</span> <span class="sr-only">(current)</span></a></li>').appendTo(".pagination")
            } else {
                $(' <li><a class="navA" pageNum="' + this + '" href="javascript:void(0)">' + this + '</a></li>').appendTo(".pagination")
            }
        })
        if (info.isLastPage) {
            $('<li class="disabled"><a href="javascript:void(0)">下一页</a></li>').appendTo(".pagination")
        } else {
            $('<li><a class="navA" href="javascript:void(0)" pageNum="' + (info.pageNum + 1) + '">下一页</a></li>').appendTo(".pagination")
        }
        //这里也可以使用动态委派事件，但是效率低
        $(".navA").click(function () {
            var pn = $(this).attr("pageNum");
            $.ajax({
                type: "GET",
                url: "${ctxPath}/scenic/scenicCommentDesc",
                data: {

                    "id": oneId,
                    "pn": pn
                },
                success: function (res) {
                  initComment(res.list)
                    initPage(res)
                }
            })
        })

    }


</script>
</body>
</html>
