<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>提交订单</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-------------jquery库-------------->
    <script type="text/javascript" src="${ctxPath}/js/jquery-1.8.3.min.js"></script>
    <!-------------Amazeui--------------->
    <script type="text/javascript" src="${ctxPath}/js/amazeui.js"></script>
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/amazeui.css">
    <!------------核心样式-------------->
    <link rel="stylesheet" type="text/css" href="${ctxPath}/css/user.css">
</head>
<body>

<!-------------------版头------------------->
<div id="header">
    <div class="cw1000">
        <!-------------------logo------------------->
        <div class="logo"><a title="" href="index.html"><img alt="" src="${ctxPath}/image/logo.jpg"/></a></div>
        <!-------------------头部导航------------------->
        <div class="head_title">
            提交订单
        </div>
        <!-------------------用户------------------->
        <%layout("/include/user.html"){}%>
        <div class="clear"></div>
    </div>
</div>

<!-----------------提交订单---------------->
<div id="submit_orders">
    <div class="cw1000">
        <div class="main_title">
            <ul>
                <li style="width:35%;">商品信息</li>
                <li style="width:15%;">单价</li>
                <li style="width:30%;">数量</li>
                <li style="width:20%;">总价</li>
            </ul>
        </div>
        <div class="list_box">
            <input type="hidden" id="scenicId" value="${scenic.id}"/>
            <ul>
                <li>
                    <div class="con">
                        <div class="info" style="width:35%;">
                            <div class="pic"><a href="#"><img width=53 height=53
                                                              src="${ctxPath}/image/2c90cca2458c651b01458c95cc0b000c.jpg"/></a>
                            </div>
                            <div class="name">
                                <a href="#">${scenic.name}门票</a>
                                <p>下单日期：${date}</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="price" style="width:15%;"><label>￥${scenic.ticket}</label></div>
                        <div class="number" style="width:30%;">
                            <div class="Spinner">
                                <a class="DisDe" href="javascript:void(0)" onclick="fun(-1)">-</a>
                                <input class="Amount" id="inputId" type="text" value="1" autocomplete="off"
                                       maxlength="3">
                                <a class="Increase" href="javascript:void(0)" onclick="fun(1)">+</a>
                            </div>
                        </div>

                        <div class="price" style="width:20%;">
                            <span id="realMoney">${scenic.ticket}</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>

            </ul>
        </div>
        <!-----------------景区信息---------------->
        <div class="info_mo">
            <table>
                <tr>
                    <th colspan="2">景区信息</th>
                </tr>
                <tr>
                    <td>景区名称：${scenic.name}</td>
                    <td>联系方式：${scenic.contact}</td>
                </tr>
                <tr>
                    <td>开放时间：全年</td>
                    <td>详细地址：${scenic.area}</td>
                </tr>
            </table>
        </div>
        <!-----------------活动信息---------------->
        <div class="info_mo">
            <table>
                <tr>
                    <th colspan="2">活动信息</th>
                </tr>
                <tr>
                    <td>活动：春节逛吃哪里去？看洛阳庙会、灯展集锦</td>
                    <td>活动咨询：0379-63789053</td>
                </tr>
                <tr>
                    <td>出发时间：2017/01/23</td>
                    <td>集合地点：洛阳市关林庙会</td>
                </tr>
            </table>
        </div>
        <div class="contact">
            <ul>
                <li class="title">
                    <h2><i class="am-icon-user"></i> 联系人信息</h2>
                </li>
                <li>
                    <span class="name">姓名：</span>
                    <input type="text" class="text" value="${name}" placeholder="请填写真实姓名">
                    <div class="radio_box">
                        <label class="am-radio-inline">
                            <input type="radio" name="radio1" value="" data-am-ucheck>
                            男士
                        </label>
                        <label class="am-radio-inline">
                            <input type="radio" name="radio1" value="" data-am-ucheck checked>
                            女士
                        </label>
                    </div>
                </li>
                <li>
                    <span id="phone" class="name">手机：</span>
                    <input id="" type="text" value="${telephone}" class="text" placeholder="请填写手机号">
                    <p>（消费时所需的兑换码会发送至您的手机，请您保持手机畅通）</p>
                </li>
            </ul>

        </div>
        <div class="tip">
            <h2>供应商信息</h2>
            <p>本产品由河洛旅游或其关联公司旅行社及具有资质的合作旅行社提供相关服务</p>
        </div>


        <div class="calculation">
            <a href="javascript:void(0)" id="subOrder">提交订单</a>
            <span>合计（含运费0.00元）： <b id="payMoney">￥${scenic.ticket}</b></span>
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-----------------版底---------------->
<div id="footer">
    <p>Zhiqi文化旅游发展有限公司 版权所有</p>
    <p>Copyright 2019 zhiqi All Rights Reserved | 豫ICP备00000000号　技术支持：zhiqi</p>
</div>
<script>
    var realMoney = $("#realMoney").text();

    function fun(a) {
        var val = $("#inputId").val();
        var n = parseInt(val) + a
        if (n < 0) {
            return;
        }
        $("#inputId").val(n);

        $("#realMoney").text((n * realMoney));
        $("#payMoney").text((n * realMoney))
    }

    /**
     * 需要的参数: 景点id，上一个页面带来的数量和价格，手机号码和姓名
     */


    $("#subOrder").click(function () {
        var num = $("#inputId").val();//购买数量
        var money = $("#realMoney").text();//总金额
        var scenicId = $("#scenicId").val();
        console.log(num)
        console.log(money)
        console.log(scenicId)
        $.ajax({
            url: "${ctxPath}/scenic/confirm",
            type: "GET",
            data: {
                "scenicId": scenicId,
                "ticket": money,
                "num": num
            },
            success: function (res) {
                console.log(res)
                window.location.href="http://"+res
            }
        })
    })

</script>
</body>
</html>